{sub_dirs,["apps"]}.
{deps_dir,"deps"}.
{deps, [
    {lager,         ".*", {git, "https://github.com/basho/lager",                     {tag, "3.0.1"}  }}    
    ,{naga,          ".*", {git, "git://github.com/naga-framework/naga",               {tag, "master"} }}
    ,{kvs,           ".*", {git, "https://github.com/synrc/kvs.git",                   {tag, "master"} }}
    %,{mysql,        ".*", {git, "https://github.com/mysql-otp/mysql-otp.git",          {tag, "master"} }}
    %,{mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {tag, "master"} }}
    %,{erl_bench,     ".*", {git, "git://github.com/naga-framework/erl_bench.git",      {tag, "v0.0.1"} }}
]}.

