[
{n2o, [{port, 8080 },
        {route,techempower_routes},
        {log_modules, techempower }
        ]},

{naga, [
         %{watch,[techempower]}
       ]},        

{erl_bench, [{db_pool,     256},
             {db_user,     "benchmarkdbuser"},
             {db_password, "benchmarkdbpass"},
             {db_host,     "localhost"},
             {db_port,     3306},
             {db_name,     "hello_world"}]},
{mnesia, [
          {dir, "./data/db"}
         ]},
{kvs, [{dba,store_mnesia},
       {schema,[
                kvs_acl, 
                kvs_feed, 
                kvs_subscription, 	      
                techempower_db
               ]}
      ]},

{ techempower, [
          {domain, all}
         ,{base_url, "/"}   
         ,{rules, [route]}
         %,{routes, techempower_routes} 
         ,{listeners,[
                      {http, [
                               {acceptors, 100},{ip,{0,0,0,0}},{port,8080}
                             ]}
                      ]}
        ]}
].
