[
{n2o, [
     {port, 8080 }
    ,{websocket_port, 8080 }
   %,{app, techempower }
    ,{upload, "/tmp"}
    ,{session, n2o_session}
   %,{auto_session, disabled}
    ,{ttl, 3600}  %% time to live session 15mn, change according to your case
    ,{mq, n2o_syn}
    ,{formatter,bert}
    ,{minify,{"apps/techempower/priv/static",
               ["deps/n2o/priv/bullet.js",
                "deps/n2o/priv/n2o.js",
                "deps/n2o/priv/ftp.js",
                "deps/n2o/priv/protocols/bert.js",
                "deps/n2o/priv/protocols/nitrogen.js",
                "deps/n2o/priv/utf8.js",
                "deps/n2o/priv/validation.js"]}}
    ,{route, naga_routes}
    ,{secret,<<"bizwego-This-IS-Classified-Change-Me">>}
    ,{log_modules, techempower }
    %,{log_level, techempower }
    ,{log_backend, n2o_log}

    ,{origin,<<"*">>}
    ,{bridge,naga_cowboy}
    ,{pickler,n2o_pickle}
    ,{erroring,n2o_error}
    ,{event,pickle}
    ,{protocols,[ n2o_heart,
                  n2o_nitrogen,
                  n2o_file,
                  n2o_client
                ]}
    ]},

{ naga, [
      {watch,[techempower]}
      ,{mode, dev}
     ]},      

{erl_bench, [{db_pool,     256},
             {db_user,     "benchmarkdbuser"},
             {db_password, "benchmarkdbpass"},
             {db_host,     "localhost"},
             {db_port,     3306},
             {db_name,     "hello_world"}]},
{mnesia, [
          {dir, "./data/db"}
         ]},

{kvs, [{dba,store_mnesia},
       {schema,[
                kvs_acl, 
                kvs_feed, 
                kvs_subscription, 	      
                techempower_db
               ]}
      ]},

 {techempower, [
          {domain, all}
         ,{rules, [routes]}
         ,{lang_dir, "./priv/lang"}                      
         ,{base_url,  "/"}
         ,{modules, []}  
     
         ,{assume_locale, <<"en">>}
         ,{theme, default}
         ,{i18n, false}

         ,{websocket_port, 8080 }
         ,{listeners,[
                      {http, [
                               {acceptors, 10},
                               {ip,{0,0,0,0}},
                               {port, 8080 }
                             ]}
                      ]}
         ,{lang_dir, "./priv/lang"}

         ,{data_dir, "./data" }

         ,{controller_filters_config,[
                        ]}

         ,{controller_filters,[
                  ]}

         %,{theme, gentelella}
         %% use tag module from gentelella application
         ,{template_tag_modules,[]}
         ,{template_filter_modules,[]}

        ]}
].
