[
{naga, [
        {deps, []}
        ,{applications, [techempower]}        
]},
{giallo_session, [
                 {backend, giallo_session_ets}
                 ,{cookie_name, <<"naga-sid">>}
                 ,{ttl, 86400}
                 ]},

{naga_i18n,[

]},

%% More info: https://github.com/basho/lager 
{lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [
            {"./log/error.log", error},
            {"./log/console.log", info}
        ]}
     ]},
    {crash_log, "./log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 0},
    {crash_log_count, 0},
    {error_logger_redirect, true},
    {error_logger_hwm, 50},
    {async_threshold, 20},
    {async_threshold_window, 5},
    {colored, true},
    {colors, [
             {debug,     "\e[0;38m" },
             {info,      "\e[1;37m" },
             {notice,    "\e[1;36m" },
             {warning,   "\e[1;33m" },
             {error,     "\e[1;31m" },
             {critical,  "\e[1;35m" },
             {alert,     "\e[1;44m" },
             {emergency, "\e[1;41m" }
             ]}
]},
{ techempower, [
         {assume_locale, "en"} 
         ,{base_url, "/"}
         ,{sub_modules, []} %% 
         ,{controller_filter_config, [{lang, auto}]}
         ,{websocket_timeout, 5000}
         ,{log_stack_multiline, true} %%lager formatter
         ,{listeners,[
                      {http, [{acceptors, 100},{ip,{0,0,0,0}},{port,8001}]}
                      ]}

         ,{filter_enable, false}
         ,{filters, []}
         ,{template_tag_modules, []}
         ,{template_filter_modules, []}
         ,{template_auto_escape, true}

         ,{db_host, "localhost"}
         ,{db_port, 3306}
         ,{db_adapter, mock}
         ,{db_username, "techempower_dba"}
         ,{db_password, "techempower_pass"}
         ,{db_database, "techempower_db"}

         ,{cache_enable, false}
         ,{cache_adapter, memcached_bin}
         ,{cache_enable, false}
         ,{cache_servers, [{"localhost", 11211, 1}]}
         ,{cache_exp_time, 3600} 

         ,{fcgi_enabled, true}
         ,{fcgi_prefix, "/fcgi"}
         ,{fcgi_exe, 'php-fpm'}
         ,{fcgi_dir, "fcgi"}
         ,{fcgi_script_dir, "priv/fcgi/docroot"}
         ,{fcgi_config, "php-fpm.conf"}        
]}
].
